*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}
body{
    background-color: whitesmoke;
}

.formu{
    width: 40%;
    display: block;
    margin: 0 auto;
    
}
